<h1>Create a New Purpose</h1>

<%= form_for(@purpose) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
   <br><br>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
  <br><br>
  <%= f.submit %>
<% end %>