<h1>SIGNUP</h1>

<%= form_for @user, url:'/signup' do |f| %>
  Email: <%= f.email_field :email %> <br><br>
  Name: <%= f.text_field :first_name %> <br><br>
  Password: <%= f.password_field :password %> <br><br>
  <%= f.submit "Sign Up" %>
<% end %>
