<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <%= link_to "All Locations", locations_path %> |
        <%= link_to "New Location", new_location_path %> |
        <%= link_to "All Areas", areas_path %> |
        <%= link_to "New Area", new_area_path %> |
        <%= link_to "All Items", items_path %> |
        <%= link_to "New Item", new_item_path %> |
        <%= link_to "All Purposes", purposes_path %> |
        <%= link_to "New Purpose", new_purpose_path %> |
        <%= link_to "Log Out", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Log In", login_path %> |
        <%= link_to "Sign Up", signup_path %>
      <% end %>

    </div>
    <%= yield %>
  </body>
</html>
